<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AssetStudioGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AssetStudioGUI.Properties.Settings>
      <setting name="displayAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enablePreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="displayInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="openAfterExport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="assetGroupOption" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="convertTexture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="convertAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="convertType" serializeAs="String">
        <value>PNG</value>
      </setting>
      <setting name="displayOriginalName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="eulerFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filterPrecision" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="exportAllNodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="exportSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="exportAnimations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="boneSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="fbxVersion" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="fbxFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scaleFactor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="exportBlendShape" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="castToBone" serializeAs="String">
        <value>False</value>
      </setting>
    </AssetStudioGUI.Properties.Settings>
  </userSettings>
</configuration>