<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AssetStudio.Properties.Settings>
            <setting name="displayAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enablePreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openAfterExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="assetGroupOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exportNormals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportTangents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportUVs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scaleFactor" serializeAs="String">
                <value>2.54</value>
            </setting>
            <setting name="exportDeformers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convertDummies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convertTexture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convertAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convertType" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="displayOriginalName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EulerFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filterPrecision" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="allFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allBones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boneSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="flatInbetween" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fbxVersion" serializeAs="String">
                <value>3</value>
            </setting>
        </AssetStudio.Properties.Settings>
    </userSettings>
</configuration>